.icon-left{ 
    position: absolute;
    top: 10px;
    left: 10px; 
}

.icon-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.snowflake{
    color:blue;
}
.sun{
    color:red;
}

.season-display.Summer{
    color: brown;
}
.season-display.Winter{
    color: deepskyblue
}

.Winter{
    background-color: aliceblue;
}

.Summer{
    background-color: orange;
}